@import '../../SCSS/Variables.scss';

.result{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__num{
        color:#FBB900;
        font-weight: 700;
        font-size: 36px;
        line-height: 125%;
        margin-bottom: 8px;
    }
    &__people{
        color: #FBB900;
        font-weight: 500;
        font-size: 20px;
        line-height: 125%;
    }
    &__line{
        &--group{
            @include line__group;
            width: 100%;
        }
        &--first{
            @include first;
            width: 70%;
            height: 2px;
            background-color: #fff;
            margin-right: 16px;
        }
        &--second{
            @include second;
            height: 2px;
            background-color: #fff;
            width: 20%;
        }
    }
}


@media screen and (max-width:768px) {
    
.result{
    &__num{
        font-size: 32px;
    }

    &__line{
        &--group{
         display: none !important;
        }
   
    }
}
}

@media screen and (max-width:425px) {
    
.result{
    margin-top: 50px;
    align-items: center;
    &__num{
        font-size: 32px;
        margin-bottom: 5px;
    }

}
}