@import '../../SCSS/Variables.scss';
.home{
    position: relative;
    z-index: 1;
    margin-top: -150px;
    padding: 20px 0 0;
    font-family: 'Poppins';
    &__header{
        background-color: #3E497A;
        padding: 50px 0 0;
        border-bottom-left-radius:100% 70% ;
        border-bottom-right-radius:100% 70% ;
        overflow: hidden;
        
        &--wrapper{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &--left{
            position: relative;
            width: 740px;
            max-width: 100%;
            padding: 0 0 100px 0;
        }
        &--right{
            display: flex;
            flex-grow: 1;
            justify-content: center;
            align-items: center;
        }
        &--title{
            
            font-weight: 700;
            font-size: 52px;
            line-height: 125%;
            margin-bottom: 24px;
            color: #F0F0F0;
            
        }
        &--text{
            @extend .home__header--title;
            font-weight: 500;
            font-size: 24px;
        }
        &--btn{
            padding: 18px 98px;
            width: 310px;
            display: inline-block;
            position: absolute;
            color: #F0F0F0;
            bottom: 0;
            right: 50px;
            background: #121F42;
            cursor: pointer;
            border: none;
            border-radius: 16px;
            font-weight: 500;
            font-size: 16px;
            line-height: 125%;
            color: #fff;
            transition: .3s;
            &:hover{
                box-shadow: 0 0 10px 3px #fff;
                transition: .3s;
            }
        }
        
    }
    &__about{
        margin-top: 150px;
        &--title{
            font-weight: 700;
            font-size: 48px;
            line-height: 125%;
        }
        &--wrapper{
            margin-top: 32px;
            display: flex;
            justify-content: space-between;
        }
        &--left{
            width: 500%;
        }
        &--right{
            @extend .home__about--left
        }
        &--subtitle{
            font-weight: 700;
            font-size: 36px;
            line-height: 125%;
            margin-bottom: 32px;
        }
        &--text{
            font-weight: 500;
            font-size: 20px;
            line-height: 125%;
        }
    }
    &__results{
        margin-top: 100px;
        padding: 80px 100px;
        background-image: url('../../images/statistic.png');
        background-position: center;
        background-size: cover;
        &--list{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    &__teachers{
        margin-top: 100px;
        padding: 40px 0 ;
        background-color: #F0F0F0;
        box-shadow: 0 4px 36px rgba($color: #000000, $alpha: .24);
        &--title{
            text-align: center;
            font-weight: 600;
            font-size: 40px;
            line-height: 125%;
            margin-bottom: 32px;
        }
        &--list{
            display: flex;
            justify-content: space-evenly;
            align-items: center
        }
        &--item{
            width: 310px !important;
            max-width: 100% !important;
        }
    }
    &__subjects{
        margin-top: 100px;
        &--title{
            text-align: center;
            font-weight: 700;
            font-size: 48px;
            line-height: 125%;
            margin-bottom: 32px
        }
    }
    &__news{
        margin-top: 150px;
        
    }
    &__contact{
        margin-top: 150px;
        
        &--wrapper{
            padding:50px 30px 27px;
            background-image: url('../../images/contact.png');
            width: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position:  top;
            display:flex;
            justify-content: flex-start;
        }
        &--form{
            display: flex;
            margin-right: 148px;
            flex-direction: column;
            border-radius: 24px;
            background: #F0F0F0;
            border-radius: 24px;
            padding: 24px 24px 14px;
            
        }
        &--title{
            font-weight: 600;
            font-size: 56px;
            line-height: 140%;
            color: #FFFFFF;
        }
        &--subtitle{
            width: 295px;
            margin: auto;
            margin-bottom: 16px;
            max-width: 100%;
            font-weight: 600;
            font-size: 20px;
            line-height: 140%;
        }
        &--popup{
            font-size: 14px;
            opacity: 0;
            transition: .5s ease-out;
        }
        &--input{
            @include input;
           
        }
        &--submit{
            @include input;
            margin-top: 62px;
            color: #F0F0F0;
            background-color: #121F42;
            transition: .3s ease;
            cursor: pointer;
            &:hover{
                background-color: rgba($color: #121F42, $alpha: 0.2);
                color: #121F42;
                transition: .3s ease;
            };
            &:active{
                background-color: #000000;
                transition: .3s ease;
                color: #ffffff;
            }
            
        }
        
    }
    &__footer{
        font-family: 'Montserrat';
        padding: 20px 0  ;
        margin-top: 100px;
        background-color: #121F42;
        &--wrapper{
            display: flex;
            justify-content: space-between;
            
        }
        &--social{
            display: flex;
            align-items: center;
        }
        &--item{
            margin-right: 40px;
            
            &:first-child{
                display: flex;
                margin-right: 150px;
            }
            
            &:last-child{
                margin-right: 0;
                display:flex;
                align-items: center;
                
            }
        }
        &--media{
            margin-right: 20px;
            transition: .3s;
            &:last-child{
                margin-right: 0;
            }
        }
        &--copyright{
            display: inline-block;
            font-family: Montserrat;
            color:#F0F0F0;
            margin-top: 50px;
            font-size: 20px;
            font-weight: 500;
        }
        &--img{
            margin-right: 10px;
            fill: #F0F0F0;
            transition: .3s;
            &:hover{
                transition: .3s;
                fill: #FBB900;
            }
        }
        &--link{
            display: flex;
            font-family: Montserrat;
            align-items: center;
            color: #F0F0F0;
        }
        &--tel{
            font-family: Montserrat;
            display: flex;
            align-items: center;
            font-weight: 500;
            line-height: 120%;
            color: #F0F0F0;
            @include hover;
        }
    }
    
}


.line{
    &__group{
        @include line__group
    }
    &__first{
        @include first
    }
    &__second{
        @include second;
    }
    &__light{
        background-color: #BBBBBB !important;
    }
    &__left{
        margin-left: 20px;
    }
    &__right{
        margin-right: 20px;
    }
}

.swiper{
    // height: 700px;
    &-slide{
        display: flex;
        justify-content: center;
        align-items: center; 
        width: 310px !important;
        
    }
    &-pagination-bullet{
        width: 20px !important;
        height: 20px !important;
        border: 2px solid #FBB900;
        background-color: transparent !important;
        border-radius: 50% !important;
        margin-right: 16px !important;
        &-active{
            background-color: #FBB900 !important;
        }
    }
    
    
}

.landing{
    margin-right: 20px;
    @include hover;
    
}









.news{
    &__box{
        padding: 40px 120px;
        background-color: #F7F7F7;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    }
    &__title{
        font-weight: 700;
        font-size: 48px;
        line-height: 125%;
        margin-bottom: 68px
    }
    &__line{
        &--first{
            @include first;
            height: 2px;
            width: 70%;
        }
        &--second{
            @include second;
            height: 2px;
            width: 20%;
        }
        
    }
    &__wrapper{
        display: flex;
        justify-content: space-around;
        align-items: center;
        &:last-child{
            margin-top: 100px;
        }
    }
    &__text{
        padding: 24px 90px 24px 24px;
        font-weight: 500;
        font-size: 18px;
        line-height: 140%;
        width: 530px;
        background-color: #121F42;
        color: #F0F0F0;
        border-radius: 16px 128px 128px 16px;
        
        
    }
    
    
}
.red{
    color: #FF1818 !important;
    transition: .5s ease-out !important;
    opacity: 1;
}
.yellow{
    color: #FF9300 !important;
    transition: .5s ease-out !important;
    opacity: 1;
}
.green{
    color: #00FF00 !important ;
    transition: .5s ease-out !important;
    opacity: 1;
}
@media screen and (max-width:768px) {
    .home{
        padding:50 0  0;
        &__header{
            border-bottom-left-radius:50% 20% ;
            border-bottom-right-radius:50% 20% ;
            &--title{
                font-size: 32px;
            }
            &--text{
                font-size: 20px;
            }
            &--wrapper{
                flex-direction: column;
            }
            &--left{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
            &--right{
                transform: translateY(50px);
            }
            &--btn{
                left: 0;
            }
        }
        &__about{
            margin-top: 150px;
            &--wrapper{
                flex-direction: column;
                max-width: 100%;
                align-items: center;
            }
            &--left{
                max-width: 100%;
                
            }
            &--right{
                max-width: 100%;
            }
            
            
        }
        &__results{
            padding:40px 0;
            background-position: left center;
            background-size:100% 200px;
            background-repeat: no-repeat;
            &--list{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
        &__teachers{
            margin-top: 100px;
            padding: 40px 0;
        }
        &__subjects{
            &--tablet{
                width: 100%;
                padding: 20px 0;
            }
        }
        &__news{
            margin-top: 100px;
            padding: 40px 0 ;
            
        }
        &__contact{
            margin-top: 150px;
            
            &--wrapper{
                padding-left: 15px;
                flex-direction: column-reverse;
            }
            &--form{
                margin-right: 0;
                flex-direction: column;
                width: 80%;
                background-color: rgba($color: #ffffff, $alpha: .6);
                
            }
            &--title{
                font-size: 48px;
                margin-bottom: 32px;
            }
            &--subtitle{
                font-size: 24px;
            }
            
        }
        &__footer{
            &--wrapper{
                flex-direction: column;     
                position: relative;           
            }
            &--social{
                align-items: flex-start;
                flex-direction: column;
            }
            &--item{
                margin-right: 0;
                
                &:first-child{
                    display: flex;
                    margin-right: 15px;
                }
                
                &:last-child{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin-top: 20px;
                    position: absolute;
                    right: 0;
                    top: 25px;
                }
            }
            &--copyright{
                margin-top: 20px;
                font-size: 16px;
            }
            &--tel{
                margin-top: 20px;
                
            }
            &--media{
                margin-right: 20px
            }
        }
        
    }
    .news{
        &__box{
            padding: 10px;
        }
        &__text{
            max-width: 100%;
        }
        &__wrapper{
            flex-direction: column;
            &:last-child{
                flex-direction: column-reverse;
            }
        }
    }
}

@media screen and (max-width:425px) {
    .home{
        padding: 20px 0 0;
        &__header{
            
            &--title{
                font-weight: 700;
                font-size: 32px;
            }
            &--wrapper{
                padding: 50px 30px 0;
            }
            &--text{
                font-weight: 500;
                font-size: 18px;
            }
            &--left{
                padding-bottom: 10px;
            }
            &--btn{
                padding: 15px 45px;
                display: block;
                position: static;
                width: 200px;
                margin-top: 20px;
                font-size: 16px;
            }
            
        }
        &__about{
            margin-top: 50px;
            &--title{
                font-size: 32px;
            }
            
            &--subtitle{
                font-size: 24px;
            }
            &--text{
                font-size: 18px;
            }
            &--img{
                max-width: 100%;
            }
        }
        &__results{
            margin-top: 50px;
            padding: 80px 0;
            background-image: none;
            background-color: rgba($color: #000000, $alpha: .7);
            &--list{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
        &__teachers{
            margin-top: 50px;
            &--title{
                font-size: 32px;
            }
        }
        &__subjects{
            margin-top: 50px;
            &--title{
                font-size: 32px;
            }
        }
        &__news{
            margin-top: 50px;
            padding: 10px;
            
        }
        &__contact{
            margin-top: 50px;
            &--wrapper{
                padding-bottom: 30px 10px;
                background-image: unset;
                background-color: #2a2493;
                justify-items: center;
            }
            &--form{
                width: 90%;
                margin-right: 0;
                margin-left: 0;
                margin: 0 auto;
                background-color: rgba($color: #ffffff, $alpha: .6);
            }
            &--title{
                text-align: center;
                font-size: 32px;
            }
            &--submit{
                margin-top: 50px
                
            }
            
        }
        &__footer{
            &--wrapper{
                display: flex;
                justify-content: space-between;
            }
            &--social{
                display: flex;
                flex-direction: column-reverse;
            }
            &--item{
                margin-right: 40px;
                &:first-child{
                    margin-top: 30px;
                    display: flex;
                    flex-direction: column;
                    margin-right: 0;
                }
                
                &:last-child{
                    width: 100%;
                    position: static;
                    margin: 0;
                    justify-content: space-around;
                    
                }
            }
            &--copyright{
                margin-top: 30px;
                font-size: 14px;
                font-weight: 500;
            }
            &--img{
                margin-right: 0;
            }
            &--link{
                display: flex;
                margin-right: 0;
                align-items: center;
            }
            &--tel{
                margin-top: 0;
                font-weight: 400;
                font-size: 18px;
            }
            &--media{
                margin-right: 0    
            }
        }
        
    }
    
    .swiper{
        // height: 700px;
        &-wrapper{
            display: flex !important;
        }
        &-slide{
            margin-left: 20px !important;
        }
    }
    .news{
        &__title{
            font-size: 32px;
            margin-bottom: 30px;
        }
        &__wrapper{
            
            &:last-child{
                margin-top: 50px;
            }
        }
        &__text{
            padding: 24px;
            max-width: 100%;
            border-radius: 16px
        }
    }
}