.login{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F6F6;;
    &__wrapper{
        width: 976px;
        height: 549px;
        max-width: 100%;
        display: flex;
        justify-content: center;
        border-radius: 16px;
        overflow: hidden;
        position: relative;

    }
    &__left{
        background-color: #FFFFFF;
        width: 50%;
        padding: 32px;
        display: flex;
        flex-direction: column;
        
    }
    &__edu{
        &--center{
            display: flex;
            align-items: center;
        }
        &--logo{
            width: 67px;
            height: 64px;
            
        }
        &--name{
            margin-left: 18px;
            background: linear-gradient(87.88deg, #FBB900 1.34%, #CA9000 98.96%);
            background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 500;
            font-size: 24px;
            line-height: 36px;
        }
    }
    &__title{
        margin-top: 60px;
        font-weight: 500;
        font-size: 28px;
        line-height: 42px;
        color: #353535;
    }
    &__form{
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__email{
        width: 100%;
        margin-bottom: 20px;
        padding: 5px 12px;
        border: none;
        border-bottom: 2px solid #6B6ED7;
        outline: none;
        &::placeholder{
            font-weight: 400;
            font-size: 18px;
            line-height: 120%;
            color: #747474;
        }
        
    }
    &__password{
        @extend .login__email;
        margin-bottom: 0;
    }
    &__forgot{
        margin-top: 12px;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        letter-spacing: -0.01em;
        color: #4E4A90;
        cursor: pointer;
    }
    &__btn{
        width: 100%;
        margin-top: 100px;
        padding-top: 14px;
        padding-bottom: 14px;
        background-image: linear-gradient(88.88deg, #0007FF 0%, #00248D 100%);
        box-shadow: 0px 6px 20px rgba(78, 74, 144, 0.4);
        border-radius: 12px;
        font-weight: 500;
        font-size: 22px;
        line-height: 120%;
        border: none;
        cursor: pointer;
        color: #FFFFFF;
        transition: .2s linear;
        &:hover{
            box-shadow: 0px 0px 20px 10px rgba(78, 74, 144, 0.4);
            transition: .2s linear;
        }
    }
    &__right{
        width: 50%;
        background-image: linear-gradient(180deg, #6B6ED8 0%, #052170 100%);
        display: flex;
        justify-content: center;
        position: relative;
        align-items: center;
        
    }
    &__back{
        position: absolute;
        left: 32px;
        top: 32px;
        cursor: pointer;
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        color: #FFFFFF;
        transition: .3s;
        &:hover{
            text-shadow: 2px 2px 4px #fff;
            transition: .3s;
        }
    }
    &__language{
        position: absolute;
        z-index: 1;
        top: 32px;
        right: 32px;
        display: flex;
        align-items: center;
        &--text{
            font-weight: 500;
            background-color: transparent;
            border: none;
            outline: none;
            appearance: none;
            font-size: 20px;
            line-height: 120%;
            color: #FFFFFF;
            margin-left: 20px;
        }
        &__img{
            width: 24px;
            height: 18px;
        }
    }
    &__flag{
        width: 24px;
        height: 18px;
    }
    &__admin{
        display: flex;
        flex-direction: column;
        align-items: center;
        &--title{
            font-weight: 600;
            font-size: 26px;
            line-height: 120%;
            text-transform: uppercase;
            color: #FFFFFF;
            margin-bottom: 24px;
        }
    }
    
}

@media screen and (max-width:425px) {
    .login{
        &__left{
            width: 100%;
        }
        &__right{
            display: none;
        }
        &__language{
            top: 20px;
            right: 20px;
            &--text{
                color: #000000;
            }
        }
    }
}