@mixin  line__group {
    margin: 20px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;    
}
@mixin first {
    width: 448px;
    border: none;
    background-color: #000;
    height: 4px;
}
@mixin second {
    width: 62px;
    border: none;
    background-color: #000;
    height: 4px;
}
@mixin  input {
    margin-bottom: 16px;
    width: 395px;
    max-width: 100%;
    border: 1px solid #121F42;
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    border-radius: 16px;
    outline: none;
    &::placeholder{
        color: rgba($color: #000000, $alpha: .7);
    }
    &:last-child{
        margin-bottom: 16px;
    }    
}

@mixin hover {
    padding-bottom: 8px;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        border-radius: 4px;
        background-color: #FBB900;
        bottom: 0;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .5s ease-in-out;
    }
    
    &:hover::before {
        transform-origin: left;
        transform: scaleX(1);
    }
}